nav.scullyio-nav-header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: var(--nav-bg);
  z-index: 99;
}
@media screen and (max-width: 1000px) {
  nav.scullyio-nav-header {
    flex-direction: column;
    height: auto;
  }
}

nav.scullyio-nav-header ul {
  display: flex;
  justify-content: stretch;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 600px) {
  nav.scullyio-nav-header ul {
    justify-content: space-between;
  }
}

nav.scullyio-nav-header ul.mobile-hidden {
  flex: 0;
}
@media screen and (max-width: 1000px) {
  nav.scullyio-nav-header ul.mobile-hidden {
    display: none;
  }
}

nav.scullyio-nav-header ul li {
  flex: 0;
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: var(--nav-link-color);
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
@media screen and (max-width: 1000px) {
  nav.scullyio-nav-header ul li {
    flex: 1;
  }
}

nav.scullyio-nav-header ul li a,
nav.scullyio-nav-header ul li label {
  padding: 28px;
  color: var(--nav-link-color);
  font-weight: 800;
  opacity: 0.7;
  transition: box-shadow var(--scully-transition-ease), background-color var(--scully-transition-ease);
  user-select: none;
  cursor: pointer;
}
nav.scullyio-nav-header ul li a:active,
nav.scullyio-nav-header ul li label:active {
  transform: translateY(1px);
}
nav.scullyio-nav-header ul li a:hover,
nav.scullyio-nav-header ul li label:hover {
  opacity: 1;
  box-shadow: 0 3px 0 var(--nav-link-box-shadow-color);
}

nav.scullyio-nav-header ul li.text {
  padding: 0 28px;
  opacity: 0.8;
}
@media screen and (max-width: 1000px) {
  nav.scullyio-nav-header ul li.text {
    flex: 0.5;
  }
}
@media screen and (max-width: 600px) {
  nav.scullyio-nav-header ul li.text {
    font-size: 10px;
    flex-basis: 30%;
    padding: 0;
  }
}
@media screen and (max-width: 374px) {
  nav.scullyio-nav-header ul li.text {
    font-size: 9px;
  }
}
@media screen and (max-width: 340px) {
  nav.scullyio-nav-header ul li.text {
    font-size: 8px;
  }
}
@media screen and (max-width: 300px) {
  nav.scullyio-nav-header ul li.text {
    display: none;
  }
}

nav.scullyio-nav-header ul li.logo {
  flex: 1;
}
@media screen and (max-width: 1000px) {
  nav.scullyio-nav-header ul li.logo {
    flex-basis: 60%;
    height: 80px;
  }
}
@media screen and (max-width: 800px) {
  nav.scullyio-nav-header ul li.logo {
    flex-basis: 50%;
  }
}
@media screen and (max-width: 600px) {
  nav.scullyio-nav-header ul li.logo {
    flex-basis: 40%;
    height: 60px;
  }
}

nav.scullyio-nav-header ul li.logo a {
  width: 142px;
  height: 46px;
  margin: 0 28px;
  box-shadow: none;
  background-image: var(--nav-logo-path);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}
@media screen and (max-width: 600px) {
  nav.scullyio-nav-header ul li.logo a {
    margin: 0 12px;
  }
}
@media screen and (max-width: 374px) {
  nav.scullyio-nav-header ul li.logo a {
    width: 124px;
    height: 40px;
  }
}
nav.scullyio-nav-header ul li.logo a:hover {
  opacity: 0.9;
}

nav.scullyio-nav-header ul li.feature a {
  margin: 0 28px;
  padding: 15px 40px;
  color: var(--scully-white);
  border-radius: 8px;
  box-shadow: none;
  border: solid 3px var(--scully-green);
  background: var(--scully-green);
  opacity: 1;
}
nav.scullyio-nav-header ul li.feature a:hover {
  color: var(--scully-green);
  background: transparent;
}

@media screen and (max-width: 1000px) {
  nav.scullyio-nav-header ul li.feature a,
  nav.scullyio-nav-header ul li a {
    width: 100%;
    margin: 0;
    padding: 20px 6px;
    border-radius: 0;
    font-size: 10px;
    text-align: center;
  }
  nav.scullyio-nav-header ul li.feature a {
    padding: 16px;
  }
}
@media screen and (max-width: 374px) {
  nav.scullyio-nav-header ul li.feature a {
    padding: 16px 12px;
  }
  nav.scullyio-nav-header ul li.feature a,
  nav.scullyio-nav-header ul li a {
    font-size: 9px;
  }
}

nav.scullyio-nav-header ul li.icon {
  padding: 4px 0;
}
@media screen and (max-width: 374px) {
  nav.scullyio-nav-header ul li.icon {
    flex: 0;
  }
}
/* Root style for a correctly sized / positioned icon as a nav-header link.
 * Augmented by additional classes. Add a new icon by adding a new class below. */
nav.scullyio-nav-header ul li.icon a,
nav.scullyio-nav-header ul li.icon label {
  align-self: stretch;
  width: 94px;
  padding: 0 28px;
  background-size: 32px;
  background-position: center;
  background-repeat: no-repeat;
  filter: var(--nav-icon-color-filter);
}
@media screen and (max-width: 1000px) {
  nav.scullyio-nav-header ul li.icon a,
  nav.scullyio-nav-header ul li.icon label {
    background-size: 26px;
    width: 100%;
  }
}
@media screen and (max-width: 374px) {
  nav.scullyio-nav-header ul li.icon a,
  nav.scullyio-nav-header ul li.icon label {
    background-size: 20px;
  }
}

/* github icon */
nav.scullyio-nav-header ul li.icon.github a {
  background-image: url('/assets/img/icons/github-brands.svg');
}

/* mpbile menu icon */
nav.scullyio-nav-header ul li.menu {
  flex: 0;
  flex-basis: 100%;
  display: none;
}
@media screen and (max-width: 1000px) {
  nav.scullyio-nav-header ul li.menu {
    display: flex;
    flex-basis: 72px;
  }
}
@media screen and (max-width: 374px) {
  nav.scullyio-nav-header ul li.menu {
    flex-basis: 5px;
  }
}
nav.scullyio-nav-header ul li.icon.menu a,
nav.scullyio-nav-header ul li.icon.menu label {
  width: 100%;
  margin-top: -2px;
  background-size: 16px;
  background-image: url('/assets/img/icons/bars-regular.svg');
  transition: none;
}

/* mobile menu open */
@media screen and (max-width: 1000px) {
  nav.scullyio-nav-header ul.persistent,
  input#mobile-toggle:checked ~ nav.scullyio-nav-header ul.mobile-hidden {
    display: flex;
  }
  /* Root style for a correctly sized / positioned icon as a nav-header link.
 * Augmented by additional classes. Add a new icon by adding a new class below. */
  nav.scullyio-nav-header ul li.icon a {
    align-self: stretch;
    width: 94px;
    padding: 0 28px;
    background-size: 32px;
    background-position: center;
    background-repeat: no-repeat;
    filter: var(--nav-icon-color-filter);
  }

  nav.scullyio-nav-header ul li.icon.github a {
    background-image: url('/assets/img/icons/github-brands.svg');
  }
}
