li.scullyio-nav-child-list {
  --transition-ease: 80ms ease;
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
}

li.scullyio-nav-child-list a {
  position: relative;
  display: block;
  padding-left: var(--offset-left);
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  text-align: left;
  user-select: none;
}
li.scullyio-nav-child-list a:hover {
  color: rgba(0, 0, 0, 1);
}
li.scullyio-nav-child-list a:active {
  transform: translateY(1px);
}

li.scullyio-nav-child-list a.active {
  color: var(--scully-green);
  font-weight: 900;
  transition: color var(--scully-transition-ease);
}
li.scullyio-nav-child-list a.active span.parent:after {
  transform: translate(-50%) scale(0);
}

li.scullyio-nav-child-list a.heading {
  padding: 24px;
  padding-left: 54px;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 16%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

li.scullyio-nav-child-list a span {
  position: relative;
}
li.scullyio-nav-child-list a span:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 6px;
  height: 6px;
  margin-left: -31px;
  border-radius: 50%;
  transform: translateY(-50%) scale(0);
  background: var(--scully-green);
  transition: transform var(--scully-transition-ease), opacity var(--scully-transition-ease);
  opacity: 0;
}
li.scullyio-nav-child-list a span.parent:after {
  display: none;
}

li.scullyio-nav-child-list a.active span:after {
  transform: translateY(-50%) scale(1);
  opacity: 1;
}

li.scullyio-nav-child-list .no-route-link {
  position: relative;
  display: block;
  padding-left: var(--offset-left);
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  text-align: left;
  user-select: none;
}
li.scullyio-nav-child-list .no-route-link:hover {
  color: rgba(0, 0, 0, 1);
}

li.scullyio-nav-child-list .no-route-link.active {
  color: var(--scully-green);
  font-weight: 900;
  transition: color var(--scully-transition-ease);
}

li.scullyio-nav-child-list .no-route-link.heading {
  padding-left: 11px;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 16%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

li.scullyio-nav-child-list label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: var(--offset-left);
  left: calc((-1 * 34px) - 11px);
  width: 34px;
  height: 34px;
  z-index: 9999;
}
li.scullyio-nav-child-list label:active {
  transform: translateY(1px);
}

li.scullyio-nav-child-list label.heading {
  margin-top: 15px;
  margin-left: calc(var(--offset-left) + 10px);
}

li.scullyio-nav-child-list label.no-route {
  position: relative;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

li.scullyio-nav-child-list label .indicator {
  width: 10px;
  height: 10px;
  background: url('/assets/img/icons/chevron-right-solid.svg') center no-repeat;
  transition: transform var(--scully-transition-ease);
  opacity: 0.4;
}
li.scullyio-nav-child-list :checked ~ label .indicator {
  transform: rotate(90deg);
}
li.scullyio-nav-child-list label:hover .indicator {
  opacity: 0.8;
}

li.scullyio-nav-child-list label.no-route .indicator {
  width: 38px;
}

li.scullyio-nav-child-list label.no-route.heading .indicator {
  margin-top: 12px;
}

li.scullyio-nav-child-list a.active ~ label .indicator {
  filter: invert(43%) sepia(96%) saturate(1549%) hue-rotate(110deg) brightness(96%) contrast(79%);
  opacity: 1;
}

li.scullyio-nav-child-list input[type='checkbox'] {
  display: none;
  position: absolute;
  margin-left: var(--offset-left);
  left: calc((-1 * 34px) - 11px);
}

li.scullyio-nav-child-list ul {
  display: none;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: inset 0 3px 2px -2px rgba(88, 74, 74, 0.1), inset 0 -2px 2px -2px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.02);
  overflow: hidden;
  transition: 1s ease;
}
li.scullyio-nav-child-list ul ul {
  margin: 0;
}

li.scullyio-nav-child-list ul a,
li.scullyio-nav-child-list ul .no-route-link {
  padding: 8px 24px;
  padding-left: var(--offset-left);
  font-size: 13px;
}
li.scullyio-nav-child-list ul .no-route-link {
  width: 100%;
  padding-left: 12px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
li.scullyio-nav-child-list ul .no-route-link:hover {
  color: rgba(0, 0, 0, 1);
}
li.scullyio-nav-child-list ul .no-route-link:active {
  transform: none;
}

li.scullyio-nav-child-list :checked ~ ul {
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}
li.scullyio-nav-child-list :checked ~ ul input[type='checkbox']:checked + ul {
  margin: 12px 0;
}

li.scullyio-nav-child-list .heading + ul {
  margin-top: 0;
  margin-bottom: 0;
}

li.scullyio-nav-child-list .heading.no-route {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  margin-bottom: 15px;
}

li.scullyio-nav-child-list .heading.no-route .no-route-link {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
