<!-- Gets the title from the scully.routes -->
<h1>{{ title$ | async }}</h1>

<a class="btn" [routerLink]="['/home', '']" *ngIf="!toplevelOnly || unPublished"
  >Top level routes only</a
>
<a
  class="btn"
  [routerLink]="['/home', 'all']"
  *ngIf="toplevelOnly || unPublished"
  >All routes</a
>
<a class="btn" [routerLink]="['/home', 'unpublished']" *ngIf="!unPublished"
  >Unpublished routes</a
>
<ul>
  <li>
    <strong>routelink</strong>
    <strong>full page reload</strong>
  </li>
  <li *ngFor="let r of routes | async">
    <a [routerLink]="[r.route]">{{ r.title || r.route }}</a>
    <a [href]="r.route">{{ r.title || r.route }}</a>
  </li>
</ul>
