/* this :host is used to position footer at the bottom always */
scullyio-docs-page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.docs-page-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  padding: 0 24px 0 24px;
  padding-right: calc(18rem + 16px + 16px);
  padding-top: 34px;
}

@media screen and (max-width: 800px) {
  .docs-page-content {
    padding: 0 16px;
    padding-top: 34px;
  }
}
