.docs-page-content pre,
.docs-page-content code {
  /* max-width: 900px; */
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  font-weight: 500;
  border-radius: 4px;
}

.docs-page-content pre {
  align-self: stretch;
  margin-bottom: 24px;
  padding: 16px 22px;
  padding-right: 42px;
  background: var(--scully-night);
  overflow-x: auto;
}

.docs-page-content pre:not([class]) {
  align-self: flex-start;
}

.docs-page-content code {
  margin: 0 2px;
  padding: 2px 6px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: rgba(68, 106, 107, 0.1);
}

.docs-page-content pre code {
  max-width: 100%;
  margin: 0;
  padding: 0;
  color: var(--scully-white);
  font-weight: 400;
  letter-spacing: 0.5px;
  background: none;
  box-shadow: none;
  display: block;
  padding-top: 20px;
}
.docs-page-content pre::before {
  content: attr(class);
  position: absolute;
  display: block;
  margin-bottom: 6px;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Nunito', sans-serif;
  font-size: 8px;
  font-weight: 700;
  text-indent: calc(-13ch - 2px);
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
  transform: translateY(-6px) translateX(-11px);
}
/* if code block pre not labeled, it shouldn't take up DOM space */
.docs-page-content pre code:not([class])::before {
  margin-bottom: -1px;
}

.docs-page-content p code {
  white-space: nowrap;
}

.docs-page-content strong code {
  font-weight: 900;
}

.docs-page-content a code {
  color: var(--scully-link-blue);
  font-weight: 600;
}
.docs-page-content a:hover code {
  color: var(--scully-link-blue-light);
  background: rgba(68, 106, 107, 0.05);
}

.docs-page-content h1 code,
.docs-page-content h2 code,
.docs-page-content h3 code,
.docs-page-content h4 code,
.docs-page-content h6 code {
  color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
  font-weight: 500;
  background: rgba(68, 106, 107, 0.05);
  background: none;
  padding: 0;
  box-shadow: none;
  overflow: visible;
}
.docs-page-content h1 code {
  margin-right: 8px;
  color: var(--scully-black);
  font-size: 36px;
  box-shadow: none;
  background: none;
}
.docs-page-content h2 code {
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 3px;
  color: var(--scully-black);
  font-weight: 800;
  font-size: 18px;
  text-transform: none;
  box-shadow: none;
  background: none;
}

.docs-page-content h1 a code,
.docs-page-content h2 a code,
.docs-page-content h3 a code,
.docs-page-content h4 a code,
.docs-page-content h5 a code,
.docs-page-content h6 a code {
  color: var(--scully-link-blue);
  box-shadow: none;
  background: none;
  overflow: visible;
}
.docs-page-content h1 a code:hover,
.docs-page-content h2 a code:hover,
.docs-page-content h3 a code:hover,
.docs-page-content h4 a code:hover,
.docs-page-content h5 a code:hover,
.docs-page-content h6 a code:hover {
  box-shadow: none;
  background: none;
}

.docs-page-content table td code {
  background: rgba(0, 0, 0, 0.05);
}
