.docs-page-content h1 {
  margin-bottom: 24px;
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -0.5px;
  opacity: 0.9;
}

.docs-page-content h2 {
  margin-top: 32px;
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  opacity: 0.9;
}

.docs-page-content h3,
.docs-page-content h5 {
  margin-top: 24px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
  font-weight: 600;
}
.docs-page-content h2 + h3 {
  margin-top: 6px;
}

.docs-page-content h4 {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-top: 16px;
  color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
  font-weight: 600;
  border-top: solid 3px rgba(0, 0, 0, 0.05);
}

.docs-page-content h5 {
  font-size: 18px;
  font-weight: 800;
}

.docs-page-content ul + h2,
.docs-page-content ul + h3,
.docs-page-content ul + h4 {
  margin-top: 42px;
}

/* A trick to make code heading margins look appear as if
only removing left margin of code block, if it is the first
element of a code block in a heading.
Leaves margins when code block is surrounded by inline text. */
.docs-page-content h1,
.docs-page-content h2,
.docs-page-content h3,
.docs-page-content h4,
.docs-page-content h5,
.docs-page-content h6 {
  display: inline-grid;
  align-self: flex-start;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}
.docs-page-content h1 {
  gap: 8px;
}
