.docs-icon-button {
  --button-color: var(--scully-link-blue);
  --button-color-filter: var(--scully-link-blue-filter);
  display: flex !important;
  align-items: center;
  /* max-width: 360px; */
  margin: 24px 0;
  padding: 18px 30px;
  padding-right: 84px;
  color: var(--button-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  border: solid 2px var(--button-color);
  border-radius: 6px;
  transition: background-color var(--scully-transition-ease);
}
.docs-icon-button:active {
  transform: translateY(1px);
}
.docs-icon-button:hover {
  color: var(--scully-white);
  background: var(--button-color);
}

.docs-icon-button img {
  width: 16px;
  height: 16px;
  margin-right: 30px;
  filter: var(--button-color-filter);
}
.docs-icon-button:hover img {
  filter: var(--scully-white-filter);
}
