ul.testNav {
  margin-left: 0;
  list-style-type: none;
}

.testNav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 8px;
  padding-bottom: 8px;
}

.testNav .active {
  color: var(--scully-green);
  font-weight: 900;
}

.testNav .header {
  color: var(--scully-green);
  font-weight: 900;
}

.testNav a[href*='overview']:not(.header)::before {
  display: inline-block;
  width: 10px;
  height: 10px;
  content: url('/assets/img/icons/chevron-right-solid.svg');
  transform: scale(0.8);
  transform-origin: -0px +18px;
}

.testNav a.header::before {
  display: inline-block;
  width: 10px;
  height: 10px;
  content: url('/assets/img/icons/chevron-right-solid.svg');
  transform: rotate(90deg) scale(0.8);
  transform-origin: -0px +8px;
}

.testNav a.active::before {
  display: inline-block;
  width: 10px;
  height: 10px;
  content: url('/assets/img/icons/angle-double-right-solid.svg');
  transform: scale(0.8);
  transform-origin: -35px +15px;
}

.testNav ul.isHeader {
  background-color: rgba(0, 0, 0, 0.02);
  padding-top: 12px;
  padding-bottom: 12px;
  /* padding: 10px 0em 10px 1.5em; */
  /* margin-left: -1rem; */
  box-shadow: inset 0 3px 2px -2px rgba(88, 74, 74, 0.1), inset 0 -2px 2px -2px rgba(0, 0, 0, 0.1);
}

.testNav li > ul {
  padding-bottom: 00px;
}

.nav-container > nav {
  color: rgba(0, 0, 0, 0.6);
  width: 340px;
  max-height: 100vh;
  padding-bottom: 22px;
  overflow-y: auto;
  overflow-x: hidden;
}
