.docs-page-content table {
  margin-bottom: 32px;
  border-collapse: collapse;
}

.docs-page-content table td,
.docs-page-content table th {
  padding: 10px 12px;
  font-size: 14px;
}
@media screen and (max-width: 475px) {
  .docs-page-content table td,
  .docs-page-content table th {
    padding: 10px;
    font-size: 13px;
  }
}
.docs-page-content table td {
  font-weight: 600;
}
.docs-page-content table thead th {
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 1px;
  opacity: 0.6;
}
.docs-page-content table tbody {
  border-radius: 4px;
  border-spacing: 4px;
  border: solid 1px rgba(0, 0, 0, 0.1);
}
.docs-page-content table tr:nth-child(odd) td {
  background: rgba(68, 106, 107, 0.05);
}
