#toc-doc ul {
  position: absolute;
  right: 16px;
  top: 90px;
  width: 18rem;
  padding: 16px 18px;
  list-style: none;
  border-left: solid 1px rgba(223, 226, 229, 0.8);
  background-color: rgba(0, 0, 0, 0.01);
  overflow: hidden;
}

#toc-doc a {
  text-decoration: none;
  color: var(--scully-text-color);
  font-weight: 600;
}

#toc-doc li:first-child::after {
  display: block;
  height: 2px;
  content: '';
  border-bottom: solid 1px rgba(223, 226, 229, 0.8);
  margin: 8px;
}

@media screen and (max-width: 800px) {
  #toc-doc {
    display: none;
  }
}

.docs-toc + ul,
.docs-toc {
  display: none;
}
