.docs-page-content .docs-toc + ul {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  min-width: 384px;
  max-width: 100%;
  margin: 24px 0 24px;
  padding: 20px 28px;
  padding-right: 64px;
  color: #586069;
  font-weight: 700;
  list-style: none;
  border-radius: 3px;
  border: solid 1px rgba(223, 226, 229, 0.6);
  border-left: solid 4px var(--scully-green);
  overflow: hidden;
}

.docs-page-content .docs-toc + ul li {
  position: relative;
  margin-bottom: 0px;
  font-size: 12px;
  line-height: 1;
  list-style: none;
}

.docs-page-content .docs-toc + ul ul {
  padding-left: 24px;
}
.docs-page-content .docs-toc + ul ul li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  width: 4px;
  height: 4px;
  margin-left: -16px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.15);
}

.docs-page-content .docs-toc + ul a {
  display: block;
  padding: 7px 2px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
}

.docs-page-content .docs-toc + ul code {
  margin: 0;
  padding: 0 2px;
  font-size: 12px;
  line-height: 1;
  box-shadow: none;
  background: none;
}

.docs-page-content .docs-toc.no-spacing + ul {
  margin: 6px 0 18px;
}
