<h1>ScullyIo <%= classify(name) %> List content</h1>

<div *ngFor="let <%= camelize(name) %>Post of <%= camelize(name) %>Posts">
  <a [routerLink]="<%= camelize(name) %>Post.route">{{ <%= camelize(name) %>Post.route }}</a>
</div>