:host {
  display: block;
  background: var(--scully-green-wash);
  height: 100%;
  padding-top: 2rem;
}

li {
  padding-top: 1rem;
  padding-left: 70px;
  list-style: none;
}

li.active {
  padding-left: 50px;
}

li.active:before {
  content: '';
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  margin-right: 20px;
  left: -50px;
  background-image: url(/assets/green-bullet.png);
  background-repeat: no-repeat;
  background-position: left;
}

a {
  text-decoration: none;
  color: var(--scully-darkgray);
}
