:host {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

:host h1:first-child {
  grid-column: span 3;
  text-align: center;
}

article {
  background-color: royalblue;
  padding: 5px;
  border-radius: 5px;
  color: whitesmoke;
}
