@import url('https://fonts.googleapis.com/css?family=Comfortaa|PT+Mono&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@charset "UTF-8";
.tabs label,
.text-center {
  text-align: center;
}

/* VARS */

:root {
  /* COLORS */
  --scully-green: #3aa860;
  --scully-brightgreen: #6cce7a;
  --scully-night: #232d2a;
  --scully-darkgray: #4c615b;
  --scully-lightgray: #d3d3d3;
  --scully-offwhite: #fafbfc;
  --scully-white: #ffffff;
  --scully-black: #000000;
  --scully-green-wash: rgba(58, 168, 96, 0.05);
}

/* reset */
a,
aside,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
header,
input,
label,
menu,
p {
  font-family: Comfortaa, Roboto, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.8em;
  line-height: 130%;
}
p {
  margin-bottom: 20px;
}
h1 {
  color: var(--scully-night);
  font-size: 24px;
  font-weight: bold;
}
h2 {
  color: var(--scully-green);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
h3 {
  font-size: 18px;
  font-weight: bold;
  color: var(--scully-night);
}
h4 {
  font-size: 24.8px;
}
h5 {
  font-size: 20.8px;
}
h6 {
  font-size: 18px;
}
a,
p {
  font-size: 16px;
}

body {
  color: var(--scully-darkgray);
  font-size: 16px;
  line-height: 1.2;
}

playground-host {
  display: block;
  padding: 50px;
  background-image: linear-gradient(
    45deg,
    #fcfcfc 16.67%,
    #858585 16.67%,
    #858585 33.33%,
    #fff 33.33%,
    #fff 50%,
    #fcfcfc 50%,
    #fcfcfc 66.67%,
    #858585 66.67%,
    #858585 83.33%,
    #fff 83.33%,
    #fff 100%
  );
  background-size: 8.49px 8.49px;
}

/* BUTTONS */

nav > a,
nav > app-button > a {
  background-color: var(--scully-green);
  color: var(--scully-white);
  display: inline-block;
  padding: 12px;
  margin: 10px 3px;
  width: 100px;
  border-radius: 4px;
  height: 40px;
  min-width: 168px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

nav > a.btn-secondary,
nav > app-button > a.btn-secondary {
  background-color: var(--scully-white);
  color: var(--scully-night);
  display: inline-block;
  padding: 12px;
  margin: 10px 3px;
  width: 80px;
  border-radius: 4px;
  height: 40px;
  min-width: 60px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

nav > a.btn-invert,
nav > app-button > a.btn-invert {
  color: var(--scully-green);
  background-color: var(--scully-white);
  border: 1px solid var(--scully-green);
  border-radius: 4px;
  display: inline-block;
  padding: 12px;
  margin: 10px 3px;
  width: 100px;
  border-radius: 4px;
  height: 40px;
  min-width: 168px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.router-link-active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

nav > a:hover,
nav > app-button > a.router-link-active:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

nav > a:active,
nav > app-button > a.router-link-active:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* BOOKS */
app-book > div {
  width: 440px;
  height: 160px;
  background-color: var(--scully-offwhite);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-color: var(--scully-lightgray);
  box-shadow: 0 3px 8px rgba(0, 0, 50, 0.15);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 50, 0.15);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 50, 0.15);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

app-book > div > img {
  width: 60px;
  height: 80px;
  margin: 40px;
}

app-book > div > .card-content > h3 {
  color: var(--scully-green);
  margin-bottom: 0;
  margin-top: 5px;
}

app-book > div > .card-content > p {
  text-align: left;
  line-height: 2;
  margin-bottom: 0;
  margin-right: 56px;
  color: var(--scully-darkgray);
}

/* CARDS */
app-card > div {
  width: 318px;
  height: 348px;
  padding: 8px;
  background-color: var(--scully-night);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 50, 0.15);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 50, 0.15);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 50, 0.15);
}

app-card > div > .icon-background {
  width: 60px;
  height: 60px;
  margin: 40px 0 16px 129px;
  background-color: var(--scully-darkgray);
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

app-card > div > .icon-background > img {
  width: 40px;
  height: 40px;
}

.svg {
  filter: invert(1);
}

app-card > div > .card-content {
  height: 212px;
}

app-card > div > .card-content > p {
  text-align: center;
  line-height: 2;
  margin-bottom: 0;
}

app-card > div > .card-content > .header {
  color: var(--scully-brightgreen);
}

app-card > div > .card-content > .main-text {
  color: var(--scully-offwhite);
}

/* CODE */
app-code > pre,
pre {
  background: var(--scully-night);
  color: var(--scully-offwhite);
  padding: 8px;
  border-radius: 8px;
  border-top: black solid 15px;
  overflow-x: auto;
  min-height: 100px;
  padding: 10px;
}

app-code > pre > code::before,
pre > code::before {
  background-color: var(--scully-darkgray);
  border-radius: 3px;
  border-left: 3px solid var(--scully-darkgray);
  border-right: 3px solid var(--scully-darkgray);
  content: attr(class);
  text-indent: -9ch;
  text-transform: uppercase;
  display: block;
  padding: 2px 2px;
  margin-bottom: 5px;
  margin-left: 7px;
  width: fit-content;
  overflow: hidden;
}

/* HEADER */
app-header > p.header-title,
p.header-title {
  color: var(--scully-green);
  font-size: 60px;
  font-weight: bold;
}

app-marketing-header > h1.marketing,
h1.marketing {
  font-color: var(--scully-night);
  font-size: 32px;
  font-weight: bold;
}

/* SUB HEADER */
app-subheader > p.subheader-title,
p.subheader-title {
  color: var(--scully-brightgreen);
  font-size: 24px;
}

/* ICON */

/* LEFT MENU */

app-left-menu > nav.first {
  background: var(--scully-green-wash);
}

/* LINE */
app-hr > hr {
  padding: 3px;
  border: 1px solid var(--scully-brightgreen);
  border-radius: 5px;
  background: var(--scully-brightgreen);
  width: 170px;
}

.invert {
  filter: invert(1);
}
