@import url('https://fonts.googleapis.com/css?family=Comfortaa|PT+Mono&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@charset "UTF-8";
.tabs label,
.text-center {
  text-align: center;
}

/** reset */
/ a,
aside,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
header,
input,
label,
menu,
p {
  font-family: Comfortaa Roboto, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.8em;
  line-height: 130%;
}
p {
  margin-bottom: 20px;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24.8px;
}
h5 {
  font-size: 20.8px;
}
h6 {
  font-size: 18px;
}
a,
p {
  font-size: 16px;
}
