:host {
  display: grid;
  height: 100vh;
  grid-template-rows: 60px 1fr 60px;
}

:host > header {
  display: grid;
  margin: 0;
  padding: 0px 10px;
  grid-template-columns: 120px 1fr;
  place-items: center center;
  overflow: none;
}

header h1,
footer h3 {
  margin: 0;
}
:host > footer {
  display: grid;
  margin: 0;
  padding-right: 10px;
  justify-content: right;
  align-content: center;
}

main {
  padding: 10px;
  background-image: url(../assets/scully-bg-s.svg);
  background-size: cover;
}
