li {
  padding-left: 30px;
  list-style: none;
  margin-top: 18px;
}

/*
li.active {
  padding-left: 50px;
}

li.active:before {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 20px;
  background-image: url("/assets/bullet.png");
}
*/
