name: CI

on:
  push:
    branches:
      - main

jobs:
  firebase-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: '12.x'
      - uses: actions/cache@v2
        with:
          path: ~/node_modules
          key: ${{ runner.os }}
      - run: npm run symlinks
      - run: npx nx run-many --target=build --all --prod
      - run: node ./dist/libs/scully/scully --project scully-docs --RSD --scan --404=baseOnly --prod
      - uses: w9jds/firebase-action@master
        with:
          args: deploy --project scullyio --only hosting
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
