:host {
  display: grid;
  height: 100vh;
  grid-template-rows: 60px 1fr 60px;
}

:host > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 20px;
}

nav {
  display: flex;
  align-items: center;
}

nav[role='navigation'] {
  display: none;
}

header h1,
footer h3 {
  margin: 0;
}

main {
  padding: 10px;
  background-image: url(../assets/scully-bg-s.svg);
  background-size: cover;
}

.github {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.github a img {
  border-radius: 4px;
}

footer {
  padding-top: 48px;
  min-height: 250px;
  display: grid;
  grid-template-columns: 25% 15% 15% 15% 25%;
  background: var(--scully-green-wash);
}

.footer-1 {
  grid-column-start: 2;
  grid-column-end: 2;
  text-align: center;
}

.footer-2 {
  grid-column-start: 3;
  grid-column-end: 3;
  text-align: center;
}

.footer-3 {
  grid-column-start: 4;
  grid-column-end: 4;
  text-align: center;
}
a {
  text-decoration: none;
  color: var(--scully-darkgray);
  cursor: pointer;
}

.footer-1 > h3,
.footer-2 > h3,
.footer-3 > h3 {
  color: var(--scully-green);
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  footer {
    grid-template-columns: 16px 1fr 1fr 1fr 16px;
  }
}

@media (max-width: 970px) {
  nav > app-button {
    display: none;
  }
  nav[role='navigation'] {
    display: block;
  }
  .header-left > a {
    padding-left: 20px;
  }
}

header {
  background: #000;
  color: #fff;
  min-height: 90px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left > a {
  margin-top: 0;
}

#menuToggle {
  display: block;
  position: relative;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background-color: white;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0 0;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0 0;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle input:checked ~ ul {
  transform: none;
}
