app-root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  max-height: 100vh;
}

app-root > .page-content {
  flex: 1;
  display: flex;
  width: 100%;
  max-height: 100%;
  padding-top: 80px;
}

app-root > .page-content .router-container {
  flex: 1;
  max-height: 100vh;
  overflow-y: auto;
}
